# Virtual Enviroment
venv/
env/
ENV/

# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python

# Reports
reports/
*.html

# Screenshots
screenshots/

# Upload Test file
test_upload.txt
*.crdownload
*.tmp
*.part

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
